h1 {
    color: rgb(186, 45, 45);
  }
  .titleperros {
    color:rgb(74, 158, 207)
  }

  .texto {
    background-color: #29855a;
    margin: 10px 50px;
    
  }
   img {
    border:15px solid #29855a ; border-radius: 20px;
  }
  
  body{
    background-image: url(huellas.png);
    text-align:center;
    
  }
.final {
  background-color: #29855a;
  margin: 10px 500px;
}
 
 
